<div class="page-container">

    <div class="content">
      <div class="buttons-container">
        <button class="action-button casual" (click)="openQueueModal('casual')">
          <span class ="button-text">Casual Queue <span>&#9876;</span></span> 
        </button>
        <button class="action-button ranked" (click)="openQueueModal('ranked')">
            <span class ="button-text">Ranked Queue</span> 
        </button>
        <button class="action-button create-room" (click)="navigateToCreateRoom()">
            <span class ="button-text">Create Room</span> 
        </button>
      </div>
    </div>

    <!-- Queue Modal -->
    <div class="modal" *ngIf="showQueueModal">
      <div class="modal-content">
        <div class="modal-header">
          <h2>{{ queueType === 'casual' ? 'Casual' : 'Ranked' }} Queue</h2>
        </div>
        <div class="modal-body">
          <p>Searching for opponent...</p>
          <div class="spinner"></div>
          <button class="cancel-button" (click)="cancelQueue()">
            Cancel Queue
          </button>
        </div>
      </div>
    </div>
  </div>